
.pagination{
   display: flex;
   justify-content: space-between;
   max-width: 200px;
   margin: 0 auto;
   text-align: center;
}

.pagination_item{
   margin: 0 10px ;
   font-size: var(--font-size-m);
   cursor: pointer;
}

.active{
   font-weight: 700;
}
