.info_wrapper {
   display: flex;
   margin: 0 0 30px 0;
}

.text_wrapper {
   flex-grow: 1;
   margin: 0 0 0 15px;
}

.avatar {
   width: var(--avatar-width);
   height: var(--avatar-height);
   background-image: url('https://i.pinimg.com/originals/76/2c/dc/762cdcc21c11048ae8725635d22827ba.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.text__name {
   font-size: var(--font-size-l);
}