.wrapper {
   background: var(--bg-color);
   width: calc((100vw - var(--sidebar-width)) / 1.5);
   height: calc(100vh - var(--navbar-height));
}

.message_items {
   height: calc(100vh - var(--navbar-height) - var(--input-message-height));
   overflow-y: scroll;
}