@import 'style/global.css';
@import 'style/themes/normal.css';
@import 'style/reset.css';

.app {
   font-family: var(--font-family-main);
   background: var(--bg-color);
   min-height: 100vh;
   color: var(--inverted-primary-color);
   font-size: var(--font-size-s);
}

.content-wrapper {
   display: flex;
}

.page_wrapper {
   max-width: calc(100vh - var(--sidebar-width));
}